@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --sidebar-width: 80px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

main {
    margin-left: calc(var(--sidebar-width) + 10px);
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    filter: hue-rotate(210deg);
    opacity: 0.1;
    z-index: -1;
}

#sidebar img {
    width: 40px;
    transition: 0.3s;
}

#sidebar {
    background-color: white;
    box-shadow: 1px 1px 20px #aaa;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    padding-top: 7px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
}

#logo {
    text-align: center;
    color: #a0b9ff;
}

#sidebar a:hover {
    background-color: #e5ffe5;
}

.menu a:hover img {
    transform: rotate(15deg) translateX(20px);
}

a {
    text-decoration: none;
}

.title {
    background: white;
    box-shadow: 0 5px 10px #4b4b4b;
    width: 300px;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    color: #a0b9ff;
    font-weight: bold;
}

#planet-facts {
    margin: 150px 0;
    display: flex;
}

.left-title {
    color: white;
}

#facts-left {
    width: 50%;
    background-image: url("images/intro2.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
}

.right-content {
    background: white;
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content li {
    color: black;
    background-color: #e5ffe5;
    margin: 0 20px;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 900;
}

#facts-right {
    width: 50%;
}

#gallery {

}

.gallery-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gallery-title-pocket img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.gallery-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gallery-item img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    position: absolute;
    border-radius: 25px;
}

.gallery-item {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-item-text {
    z-index: 10;
    position: relative;
    background-color: white;
    opacity: 0.8;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: row;
        height: auto;
        justify-content: space-evenly;
        width: 270px;
    }

    #sidebar {
        flex-direction: row;
        height: 60px;
        width: 100%;
        justify-content: center;
        padding-left: 5%;
    }

    #logo h3 {
        display: none;
    }

    #sidebar img {

    }

    #logo {
        align-items: center;
        display: flex;
    }
}
